:root {
    --color-primary: rgb(0, 174, 255);
    --color-secondary: rgb(255, 174, 0);
    --color-shadow: grey;
    --section-padding: 8px;
    --section-margin: 8px;
    --border-radius-default: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: rgb(90, 90, 90);
    font-size: 12px;
}

img {
    height: 1.5rem;
}

.avatar {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: min(200px, 1fr) 4fr;
    grid-template-rows: 1fr 5fr;
}

header {
    grid-column: 2 / 3;
    padding: var(--section-padding);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: ridge;
}

header p {
    color: black;
    font-size: 1rem;

}

header form {
    justify-self: center;
    align-self: center;
    padding: var(--section-padding);
    /* width: clamp(200px, 100%, 400px); */
    /* width: max(200px,100%); */
    width: 100%;
}

#header-search {
    background: rgb(236, 236, 236);
    padding: 15px;
    border: 0;
    border-radius: var(--border-radius-default);
    width: 100%;
}

header form {
    display: flex;
}

.searchButton {
    border: none;
    text-decoration: none;
    background: none;
    cursor: pointer;

    margin-left: -30px;
}

#account-container {
    justify-self: end;
    align-self: center;

    display: flex;
    gap: 8px;
    align-items: center;
}

#hello-container {
    justify-self: start;
    align-self: center;
    padding: var(--section-padding);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 16px;
}

#hello-container img {
    grid-row: 1 / 3;
    height: 4rem;
    width: 4rem;
}

#header-main-buttons {
    display: flex;
    gap: 30px;
    padding: var(--section-padding);
    justify-self: end;
    align-self: center;
}

#header-main-buttons button {
    background-color: var(--color-primary);
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 32px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

#sidebar {
    grid-row: 1 / 3;
    background: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
}

.logo img {
    height: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
    margin-left: var(--section-margin);
    display: flex;
    align-items: center;
    gap: 8px;
}

#sidebar .logo,
#sidebar-buttons,
#sidebar-options {
    padding: var(--section-padding);
}

#main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: rgb(226, 226, 226);

    display: grid;
    grid-template-columns: 3fr 1fr;
}

#projects {
    grid-row: 1 / 3;
    padding: var(--section-padding);
}

#card-container {
    margin-top: var(--section-margin);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    padding: 16px 16px;
    border-radius: var(--border-radius-default);
    border-left: 0.5rem solid var(--color-secondary);

    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 2px 5px 5px var(--color-shadow);
}

.card-icons {
    align-self: end;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

#announcements {
    margin: var(--section-margin);
}

#announcement-container {
    margin-top: var(--section-margin);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: var(--border-radius-default);
    box-shadow: 2px 5px 5px var(--color-shadow);
}

.announcement {
    padding: var(--section-padding);
}

.announcement:not(:last-child) {
    border-bottom: thin solid rgb(90, 90, 90,.5);
}

#trending {
    margin: var(--section-margin);
}

#trending-user-container {
    margin-top: var(--section-margin);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 8px;
    padding: var(--section-padding);
    border-radius: var(--border-radius-default);
    box-shadow: 2px 5px 5px var(--color-shadow);

}

.user-container {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
}

.user-container img {
    grid-row: 1 / 3;
}

#announcement-container,
#trending-user-container,
.card {
    background: white;
}

